:root {
	/* 
	* this is primary color, applied on:
	* background, underline
	 */
	--primary: #23272A;
	--primary-disabled: #2C2F33;
	/*
	* this is secondary color, applied on:
	* text, border
	*/
	--secondary: white;
	--secondary-disabled: #ababab;
	/*
	* this is third color, applied on:
	* button, 
	*/
	--third: #2C2F33;
	--third-disabled: #015bfa;
	/*
	* other colors, used on random object.
	*/
	--o1:#015bfa;
	--o1-disabled: #015bfa;
}